body {
    font-family: Tahoma, sans-serif;
    overflow-x: hidden;
    word-break: break-all;
    }
            @media only screen and (max-width: 750px) {
                .d-flex {
                    display:flex !important;
                    
                }
                .SideNav {
                    display: none;
                }
                .Box {
                    width: 90% !important;
                }
                .Header-input {
                    display:none !important;
                }
                p, li, b, mark, span {
                    font-size: 2em !important;   
                }
                a {
                    cursor:pointer;   
                }
                h1 {
                    border-bottom: solid #eaecef 1px;
                    font-size: 3.5em !important;   
                }
                h2, h3 {
                    font-size:2em !important;   
                }
                .SideNav-subItem {
                    font-size: 2.75em;
                }
                .tabnav-tab {
                    font-size: 2em !important;   
                }
            }
            @media only screen and (min-width: 750px) {
                .flex-justify-end{
                    display:none !important;
                }
                h1 {
                    border-bottom: solid #eaecef 1px;
                    font-size: 2.5em;
                }
                a {
                    font-size: 1.25em;
                    cursor:pointer;
                }
                p {
                    font-size: 1.25em;
                }
                span {
                    font-size: 1.25em;
                }
                .SideNav-subItem {
                    font-size: 1.15em;
                }
            }
            .Header-input {
                    display:block;
            }
            details > summary:first-of-type {
                list-style-type: none;
            }
            .search-result {
                box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
                padding:1.3em;
                border-radius: 1em;
            }
            
